<style>
  header {
	text-align: center;
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
  box-shadow: 0px 2px 2px 2px #ccc;
}
  
  
  
</style>


<h1>New Category</h1>
<%= form_for :category, url: categories_path do |f| %>
<% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        Invalid Name!
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  
 
  <p>
    <%= f.submit %>
  </p>
<% end %>