<!DOCTYPE html>
 <html>
 
<head>
  <title>Login</title>
  <link rel = "stylesheet" href = "">
 
</head>
 
 <div class = "header">
   <h1>  OneAccount <div class = "apple"><i class="fa fa-apple"></i></div> <div class = "android"> <i class = "fa fa-android"></i></div> <div class = "windows"> <i class = "fa fa-windows"></i></div></br></h1>
 </div>
  <section class = "container">
    <div id = "center_box">
<form method = "post" action = "BlogsPage.html">
      
             </form>
      </section>
      </body>
      </html>
  <style>
 
  a{
    font-size: 12pt;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #BCC6CC;
  }
  
  a:hover{
    color:#737CA1;
  }
 
  h2{
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    text-shadow:20px,20px,#ff0000;
    color :#342D7E;
    font-weight: bold;
  }

  .body{
    width: 300px;
    padding: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #BCC6CC ;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
 }
 
  body{
    background: url(https://download.unsplash.com/17/unsplash_525f012329589_1.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    padding: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    color: red ;
    text-decoration:bold;
    font-size: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: left;
 }

  .header{
    height:70px;
    background:#463E3F;
    border:1px solid transparent;
    right: 0px;
    left:0px;
    width:120%;
    position:fixed;
    top:0px;
  }

  h1{
    color: white;
    text-align: left;
    margin-top:15px;
    margin-left: 15px;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
 }

  .myButton {
    background-color:#F0F8FF;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid transparent;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:arial;
    font-size:17px;
    font-weight: bold;
    padding:10px 24px;
    text-decoration:none;
    width: 400px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .myButton:hover {
    background-color:#E5E4E2;
  }

  .myButton:active {
    position:relative;
    top:1px;
  }
  
  .myButton:focus{
     outline:0;
   }
  .textbox{
    width: 400px;
    height: 50px;
    border-radius: 2px;
    font-size:20px;
    border: 1px solid #87AFC7;
    outline: 0;
    padding: 5px;
    color: #5E5A80;
  }

  .textbox:focus{
    border: 2px solid #87AFC7;
  }

  .field{
    margin-top: 20px;
  }
 
   .apple{
      color: #F0F8FF;
      display:inline-block
    }
    
    .android{
      
      color: #52D017;
      display:inline-block
    }
    
    .windows{
      color: #5CB3FF;
      display:inline-block
    }
 
    </style>
 
 <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class = "body"> <div class="field">
    <h2> LOGIN </h2>
    <%= f.email_field :email, autofocus: true, :placeholder => 'Email', :class => "textbox"  %>
  </div>
 
  <div class="field">
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :class => "textbox" %>
  </div>
 
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>
 
  <div class="actions">
    <%= f.submit "Log in", :class => 'myButton' %>
  </div>
    </div>
<% end %>
 
<%= render "devise/shared/links" %>
