<!DOCTYPE html>
<html>
<head>

<style>
body {
  margin: 5% 0% 0% 5%;
  background: url("http://static.wixstatic.com/media/941e371841a236ab4b73e0f8566ed79b.jpg_srz_1500_1000_85_22_0.50_1.20_0.00_jpg_srz");
  background-position: left;
  color: white;
  font-family: helvetica , sans-serif;

  
}
  input{
    
  background-color: transparent;
  color: white;
  }
</style>

</head>

<body>
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</body>
</html>