<%= form_for :application, url: applications_path do |f| %>
<head>
  <style>
    header{
      text-align: center;
      background-size: cover;
    }
    
    input[type="submit"]{
      background: #339933;
      color: white ;
      border:0 ;
      padding:15px;
      font-size:12px;
      margin:1% 0 0 0;
      border-radius:40px;
    }
    
    body {
      text-align: center;
      background: url("http://dash.ga.co/assets/anna-bg.png");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: Lucida Sans Unicode;
    }
    
    header {
	    text-align: center;
      height:50px;
      background:#F0F0F0;
      border:1px solid #CCC;
      width:100%;
      margin:0px auto;
      box-shadow: 0px 2px 2px 2px #ccc;
    }
 </style>
</head>

<h2 style="font-family:Lucida Sans Unicode" text-align= "center">Would you add your new application data here   </h2>
    <br>
    
    <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@application.errors.count, "error") %> prohibited
        this application from being saved:
      </h2>
      <ul>
        <% @application.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <p>
    <%= f.text_field :appname, :placeholder => "Application Name" %>
  </p>
  
<% @category_options = [] %>
<% @categories = Category.all %>

<% @categories.each do |category| %>
   <% @category_option = [category.name, category.name] %>
   <% @category_options.push(@category_option) %>
<% end %>

  <p>
    <%= f.select(:category_name) do %>
    <%= options_for_select(@category_options) %>
    <% end %>
  </p>
 
  <p>
    <%= f.text_area :description, :size => "45x15", :placeholder => "Please state your application description here "%>
  </p>
  
  <p>
    <%= f.text_field :price ,:placeholder => "Application price" %>
  </p>
 
  <p>
    <%= f.text_field :appstore_url ,:placeholder => " Application url on Appstore " %>
  </p>
  
  <p>
    <%= f.text_field :playstore_url ,:placeholder => "Application url on Playstore" %>
  </p>
  
  <p>
    <%= f.text_field :windows_url ,:placeholder => " Application url on Windows Store " %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
  
<% end %>
