<!DOCTYPE html>
<head>
  <title>Applications</title>
  <style>
    body {
      text-align: left;
      background-image: url("http://i.imgur.com/6RnDnuz.jpg");
      background-repeat: no-repeat;
      background-size: cover;
     
    }

    </style>
</head>



<p>
  <strong>appname:</strong>
  <%= @application.appname  %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @application.description %>
</p>


<p>
  <strong>price: $</strong>
  <%=  @application.price %>

<p>
  <% if current_user.email == "maryam.osama@gmail.com" %>
  <td><%= link_to 'DeleteApp', application_path(@application),
              method: :delete %></td>
              
<% @number =  @application.price * 100 %>

<% if Purchase.where(:user_email => current_user.email ,:app_id => @application).blank? %>
<% end %>
<%= form_tag charges_path(:number => @number ,:application => @application) do %>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Payment"
          data-amount= <%= @application.price * 100 =%> </script>


<% end %>
<% end %>


