<!DOCTYPE html>
<head>
  <title>Applications</title>
  <style>
    body {
      text-align: left;
      background-image: url("http://i.imgur.com/6RnDnuz.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<<<<<<< HEAD


      

 <% if !(Application.where(:publisher_email => current_user.email ,:id => @application).blank?)%> 
 
  <td><%= link_to 'DeleteApp', application_path(@application),
              method: :delete %></td>  
   <% end %>
   
   
=======
<p>
>>>>>>> Test
  <strong>appname:</strong>
  <%= @application.appname  %>
</p>
<p>
  <strong>description:</strong>
  <%= @application.description %>
 
</p>
<p>
  <strong>price: $</strong>
  <%=  @application.price %>
</p>

<% @number =  @application.price * 100 %>

 <% if current_user.email == Sprint0::Application.config.my_key %>
  <td><%= link_to 'DeleteApp', application_path(@application),
           method: :delete %></td>
 <% end %>
          
<% if (Purchase.where(:user_email => current_user.email ,:app_id => @application).blank?) && 
 !(@application.publisher_email == current_user.email) %>

<%= form_tag charges_path(:number => @number ,:application => @application ) do %>


  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Payment"
          data-amount= <%= @application.price * 100 =%>
        
          </script> ></script>
<% end %>
<% end %>


